<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.mybatis.res.orderMapper">
	<!-- 这样是查询不到结果的，因为实体类的属性名和数据库的字段名对应不上 -->
	<select id="getOrderById" parameterType="int" resultType="Order">
		select * from orders where order_id=#{id}
	</select>
	
	<!-- 为查询的字段名取一个和属性名相同的别名 -->
	<select id="selectOrder" parameterType="int" resultType="Order">
		select order_id id,order_no orderNo,order_price price from orders where order_id = #{id}
	</select>
	
	<select id="selectOrderResultMap" parameterType="int" 
			resultType="Order" resultMap="orderResultMap">
		select * from orders where order_id=#{id}
	</select>
	
	<!-- 通过resultMap对应关系 -->
	<resultMap type="Order" id="orderResultMap">
		<!-- id映射主键名 -->
		<id property="id" column="order_id"/>
		<result property="orderNo" column="order_no"/>
		<result property="price" column="order_price"/>
	</resultMap>
</mapper>