<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.zs.spring.struts2.beans.Person">
		<property name="username" value="zs"></property>
	</bean>
	
	<bean id="personService" class="com.zs.spring.struts.service.PersonService">
	</bean>
	
	<!-- action需要设置成非单例模式 -->
	<bean id="personAction" class="com.zs.spring.struts2.actions.PersonAction" scope="prototype">
		<property name="personService" ref="personService"></property>
	</bean>

</beans>
